.add_article_operate {
  margin-bottom: 20px;
}

.el-drawer__body{
  position: relative;
}

.add_el_drawer_content {
  padding: 0 20px;

  .article_avatar_source {
    .article_introduce {
      padding-top: 10px;
    }
  }

  .category_tags .el-collapse-item__content {
    display: flex;
    justify-content: space-between;

    .category {
      width: 38%;
    }

    .tags {
      width: 60%;
    }
  }

  .article_cover .el-collapse-item__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      width: 40%;

      img {
        width: 100%;
      }
    }

    .right {
      width: 58%;

      .el-select {
        width: 100%;
      }
    }
  }

  .article_optional .el-collapse-item__content{
    >div{
      display: block;
      margin-bottom: 10px;
    }
  }

  .article_btn_list{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

}