{% extends 'index.html' %}
{% load my_tag my_filter %}

{% block banner %}
    {% banner 'news' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/my/css/news.css">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="news_content">
            {% csrf_token %}
            <div class="left">
                <ul>
                    <li :class="item.name === news_actives ? 'actives' : ''" v-for="item in news_init" :key="item.id"
                        @click="get_new_data(item.id, item.name, item.url, false, 0)"><img
                            :src="item.url" alt="">[[item.name]]
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="title">
                    <img :src="news_actives_url" alt="">
                    <h2>[[news_actives]] · 热搜榜</h2>
                </div>
                <div class="content">
                    <ul>
                        <li v-for="item in news_list" :key="item.index">
                            <span class="index">[[item.index]]</span> <a
                                :href="item.link"
                                target="_blank">[[item.title]]</a>
                            <span class="num">[[item.hotValue]]</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="thank"
             style="
             width: 100%;
             display: flex;
             justify-content: center;
             margin-top: 10px;">
            <a href="https://itab.link" style="font-size: 14px;color: #333333">API来源Itab</a>
        </div>

    </div>
{% endblock %}